@model ControlSaludApp.Models.trabajador
@{
    ViewBag.Title = "Usuarios";
    if (Session["DNI"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

@using (Html.BeginForm(FormMethod.Post))
{
    <div class="jumbotron  mg-t-10">
        <div class="container mg-tb-30">
            <h1>Usuarios</h1>
            <hr class="my-1" />
            <p class="lead">Nuevo Usuario ...</p>

            <form>

                <div class="form-group">
                    <!-- #region Nuevo Usuario -->
                    <div class="form-row mb-2 align-items-center">
                        <div class="col-lg-4">
                            <div class="custom-control mb-sm-2">
                                @Html.TextBoxFor(model => model.nombre, new { @class= "form-control mb-2", placeholder = "Nombres" })
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="custom-control mb-sm-2">
                                @Html.TextBoxFor(model => model.apellidos, new { @class = "form-control mb-2", placeholder = "Apellidos" })
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="custom-control mb-sm-2">
                                    @Html.DropDownListFor(model => model.sexo, ControlSaludApp.Models.trabajador.Sexo(), new { @class = "form-control"})
                            </div>
                        </div>
                    </div>
                    <div class="form-row mb-2 align-items-center">
                        <div class="col-lg-3">
                            <div class="custom-control mb-sm-2">
                                @Html.TextBoxFor(model => model.fech_nac, new { @class = "form-control mb-2", placeholder = "Fecha Nacimiento" , @type="date"})
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="custom-control mb-sm-2">
                                @Html.TextBoxFor(model => model.DNI, new { @class = "form-control mb-2", placeholder = "Numero de Dni" })
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="custom-control mb-sm-2">
                                @Html.TextBoxFor(model => model.direccion, new { @class = "form-control mb-2", placeholder = "Direccion" })
                            </div>
                        </div>
                    </div>

                    <div class="form-row mb-2 align-items-center">
                        <div class="col-lg-3">
                            <div class="custom-control mb-sm-2">
                                @Html.TextBoxFor(model => model.telefono, new { @class = "form-control mb-2", placeholder = "Telefono" })
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="custom-control mb-sm-2">
                                @Html.TextBoxFor(model => model.email, new { @class = "form-control mb-2", placeholder = "Correo Electronico", @type= "email" })
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="custom-control mb-sm-2">
                                @Html.TextBoxFor(model => model.establecimiento, new { @class = "form-control mb-2", placeholder = "Establecimiento" })
                            </div>
                        </div>
                    </div>

                    <div class="form-row mb-2 align-items-center">
                        <div class="col-lg-4">
                            <div class="custom-control mb-sm-2">
                                @Html.TextBoxFor(model => model.acceso, new { @class = "form-control mb-2", value = "PROFESIONAL", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="custom-control mb-sm-2">
                                @Html.TextBoxFor(model => model.direccion, new { @class = "form-control mb-2", placeholder = "Usuario" })
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="custom-control mb-sm-2">
                                @Html.TextBoxFor(model => model.contraseña, new { @class = "form-control mb-2", placeholder = "Contraseña", @type= "password" })
                            </div>
                        </div>
                    </div>

                    <div class="form-row mb-2 align-items-center">
                        <div class="col-lg-12">
                            <div class="custom-control mb-sm-2">
                                <button type="submit" class="btn btn-block btn-outline-success mb-sm-2">GUARDAR</button>
                            </div>
                        </div>
                    </div>
                    <!-- #endregion -->

                </div>

            </form>

            <hr class="my-2" />

            <!-- #region Tabla -->
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Nombres</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">Dni</th>
                        <th scope="col">Fecha de Nacimiento</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">70199122</th>
                        <td>Tenorio</td>
                        <td>Rojas</td>
                        <td>Emerson</td>
                        <td>06/04/1996</td>
                    </tr>
                </tbody>
            </table>
            <!-- #endregion -->


        </div>
    </div>
}
