@*@model ControlSaludApp.Models.spSeguimientoCred_Result*@
@{
    ViewBag.Title = "Seguimiento";

    if (Session["DNI"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}
@Scripts.Render("~/bundles/js")
<script>
    $(document).ready(function () {
        $("#Red").change(function () {
            $("#Microred").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetMicrored")',
                dataType: 'json',
                data: { id: $("#Red").val() },

                success: function (microred) {
                    $.each(microred, function (i, microred) {
                        $("#Microred").append('<option value="' + microred.Value + '">' + microred.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Error al obtener Microred ... ' + ex);
                }
            });
            return false;
        })
})

    $(document).ready(function () {
        $("#Microred").change(function () {
            $("#Establecimiento").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetEstablecimiento")',
                dataType: 'json',
                data: { id: $("#Microred").val() },

                success: function (microred) {
                    $.each(microred, function (i, microred) {
                        $("#Establecimiento").append('<option value="' + microred.Value + '">' + microred.Text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Error al obtener Establecimiento ... ' + ex);
                }
            });
            return false;
        })
    })
</script>
<script type="text/javascript">
    $(document).ready(function () {
        var tr;
        $("#btnSeguimiento").on("click", function (eve) {

            $.get("Seguimiento/Seguimiento", {}, function (data) {
                var row;
                $.each(data, function (i, v1) {
                    row += "<tr><td>" + v1.DNI + "</td> <td>" + v1.APELLIDO_PATERNO + "</td> <td>" + v1.APELLIDO_MATERNO + "</td> <td>" + v1.UltimoControlCred + "</td></tr>"
                });
                $("#tableSeguimiento").append(row);
            })
        })



    });
</script>

@using (Html.BeginForm("Seguimiento", "Seguimiento"))
{
    <div class="jumbotron  mg-t-10">
        <div class="container mg-tb-30">
            <div class="row">
                <div class="col-lg-6"><h1>Seguimiento</h1></div>
                <div class="col-lg-6"><h2>Suplementacion</h2></div>
            </div>

            <hr class="my-1" />
            <p class="lead">Buscar por ...</p>

            <form>

                <div class="form-group">
                    <!-- #region Buscar por Apellidos -->
                    <div class="form-row mb-2 align-items-center">
                        <div class="col-lg-3">
                            <div class="custom-control custom-radio mb-sm-2">
                                <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" checked="">
                                <label class="custom-control-label" for="customRadio1">Apellidos</label>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="form-row">
                                <div class="col-6">                             
                                    <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Apellido Paterno">
                                </div>
                                <div class="col-6">
                                    <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Apellido Materno">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- #endregion -->
                    <!-- #region Buscar por Dni -->
                    <div class="form-row mb-2 align-items-center">
                        <div class="col-lg-3">
                            <div class="custom-control custom-radio mb-sm-2">
                                <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                                <label class="custom-control-label" for="customRadio2">Dni</label>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="form-row">
                                <div class="col-lg-6">
                                    <input type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Ingrese un numero de dni">
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- #endregion -->
                    <!-- #region Buscar Establecimiento -->
                    @Html.ValidationSummary(true, "", new { @class = "text-danger"})
                    <div class="form-row mb-2 align-items-center">
                        <div class="col-lg-3">
                            <div class="custom-control custom-radio mb-sm-2">
                                <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
                                <label class="custom-control-label" for="customRadio3">Establecimiento</label>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="form-row">
                                <!-- #region Combo Seccion -->
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        @Html.DropDownList("Red", ViewData["red"] as List<SelectListItem>, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        @Html.DropDownList("Microred", new SelectList(string.Empty, "Value", "Text"), "Microred", new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        @Html.DropDownList("Establecimiento", new SelectList(string.Empty, "Value", "Text"), "Establecimiento", new { @id = "Establecimiento", @class = "form-control" })
                                    </div>
                                </div>
                                <!-- #endregion -->
                            </div>
                        </div>
                    </div>
                    <!-- #endregion -->
                    <!-- #region Botones de Busqueda -->
                    <div class="form-row">
                        <div class="col-lg-6">
                            <button id="btnSeguimiento" class="btn btn-block btn-outline-warning btn-lg mb-sm-2" type="button">Seguimiento</button>
                        </div>
                        <div class="col-lg-6">
                            <button id="btnInasistencias" class="btn btn-block btn-outline-danger btn-lg" type="submit">Inasitencias</button>
</div>
                    </div>
                    <!-- #endregion -->
                </div>

            </form>

            <hr class="my-2" />

            <!-- #region Tabla -->

            <div class="container">
                <table id="tableSeguimiento" class="table table-hover">
                    <thead>
                        <tr>
                            <th>DNI</th>
                            <th>APELLIDO_PATERNO</th>
                            <th>APELLIDO_MATERNO</th>
                            @*<th>NOMBRES_DEL_NIÑO</th>
                                <th>FECHA_DE_NACIMIENTO</th>
                                <th>EDAD</th>
                                <th>TIPO_DE_SEGURO</th>
                                <th>PROGRAMAS_SOCIALES</th>
                                <th>CENTRO_POBLADO</th>
                                <th>Establecimiento_Ultimo_Control</th>*@
                            <th>UltimoControlCred</th>
                            @*<th>ProximoControlCred</th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @*<tr>
                                <th scope="row">70199122</th>
                                <td>Tenorio</td>
                                <td>Rojas</td>
                                <td>Emerson</td>
                                <td>06/04/1996</td>
                            </tr>*@
                    </tbody>
                </table>
            </div>
            <!-- #endregion -->


        </div>
    </div>

}
